/* Written by Group 31 - Zer Jun Eng, 2017 */

/*------------------CSS for all control panel pages------------------*/

/* Navigation bar */
.navbar .navbar-brand {
  padding-top: 13px;
}

/* Menu, Accounts top alert bar */
.custom {
  margin: 0 auto;
  width: auto;
  max-width: 450px;
  margin-bottom: 20px;
}

.alert {
  margin: 0 auto;
}

.container .alert .glyphicon {
  padding: 0 15px 0 5px;
}

/* Overview - Dashboard */
.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}

.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}

.panel-green > a {
  color: #5cb85c;
}

.panel-green > a:hover {
  color: #3d8b3d;
}

.panel-yellow {
  border-color: #e2410f;
}

.panel-yellow > .panel-heading {
  border-color: #e2410f;
  color: white;
  background-color: #e2410f;
}

.panel-yellow > a {
  color: #e2410f;
}

.panel-yellow > a:hover {
  color: #a5320e;
}

.panel-red {
  border-color: #d9534f;
}

.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}

.panel-red > a {
  color: #d9534f;
}

.panel-red > a:hover {
  color: #b52b27;
}

.panel-teal {
  border-color: #009587;
}

.panel-teal > .panel-heading {
  border-color: #009587;
  color: white;
  background-color: #009587;
}

.panel-teal > a {
  color: #009587;
}

.panel-teal > a:hover {
  color: #004f47;
}

.panel-indigo {
  border-color: #3e50b4;
}

.panel-indigo > .panel-heading {
  border-color: #3e50b4;
  color: white;
  background-color: #3e50b4;
}

.panel-indigo > a {
  color: #3e50b4;
}

.panel-indigo > a:hover {
  color: #26316d;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
}
