<%= erb :"front_end/header" %>

<main>
  <h1>Who are Pizza31?</h1>

  <article>
    <img src="/images/logo/logo.svg" alt="1picture" height="250" width="250">
    <div class="profile">
      <h2>Yoonji Kim</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>

  <hr>

  <article>
    <img src="/images/logo/logo.svg" alt="2picture" height="250" width="250">
    <div class="profile">
      <h2>Zer Jun Eng</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>

  <hr>

  <article>
    <img src="/images/logo/logo.svg" alt="3picture" height="250" width="250">
    <div class="profile">
      <h2>Andreas Ioannou</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>

  <hr>

  <article>
    <img src="/images/logo/logo.svg" alt="3picture" height="250" width="250">
    <div class="profile">
      <h2>Hin Chak Lau</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>

  <hr>

  <article>
    <img src="/images/logo/logo.svg" alt="3picture" height="250" width="250">
    <div class="profile">
      <h2>Yujia Cheng</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>

  <hr>

  <article>
    <img src="/images/logo/logo.svg" alt="3picture" height="250" width="250">
    <div class="profile">
      <h2>Hok Hin Yu</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui
        officia deserunt mollit anim id est laborum.</p>
    </div>
  </article>
</main>

<%= erb :"front_end/footer" %>
